
<div id='you'>
  <p> <%=@answer %> <br> <i>- You </i></p>
</div>
<div id='coach'>
  <p> <strong><%=@coach %></strong> <br> <i>- Your Coach</i></p>
</div>
<a id ="ask_new"> <%= link_to "Ask a question!", ask_path %></a>
